# Explore, Visualize, and Predict using Pandas & Jupyter

### Learn to import, explore, and tweak your data

Matt Harrison (@\_\_mharrison\_\_)

The pandas library is very popular among data scientists, quants, Excel junkies, and Python developers because it allows you to perform data ingestion, exporting, transformation, and visualization with ease. But if you are only familiar with Python, pandas may present some challenges. Since pandas is inspired by Numpy, its syntax conventions can be confusing to Python developers.

If you have questions on Python syntax, check out https://github.com/mattharrison/Tiny-Python-3.8-Notebook

Much of this content is based on my Pandas books:
* [*Learning the Pandas Library*](https://www.amazon.com/Learning-Pandas-Library-Munging-Analysis/dp/153359824X/ref=sr_1_3?ie=UTF8&qid=1505448275&sr=8-3&keywords=python+pandas)
* *Pandas 1.x Cookbook*

# Jupyter Intro

Jupyter notebook is an environment for combining interactive coding and text in a webbrowser. This allows us to easily share code as well as narrative around that code. An example that was popular in the scientific community was [the discovery of gravitational waves.](https://losc.ligo.org/s/events/GW150914/GW150914_tutorial.html)

The name Jupyter is a rebranding of an open source project previously known as iPython Notebook. The rebranding was to emphasize that although the backend is written in Python, it supports various *kernals* to run other languages, including Julia (the "Ju" portion), Python ("pyt"), and R ("er"). All popular *data science* programming languages.

The architecture of Jupyter includes a server running various kernals. Using a *notebook* we can interact with a kernal. Typically we use a webbrowser to do this, but there are other iterfaces, such as an emacs mode (ein).

## Using Jupyter

After we create a notebook, we are presented with a page with an empty cell. The cell will have a blue outline, ane the text:

    In [ ]: 
    
on the side. The blue outline indicates that we are in *command mode*. There are two modes in Jupyter, command mode and *edit mode*.

To enter edit mode simply hit the enter or return key. You will notice that the outline will change to green. In edit mode, with a Python kernel, we can type Python code. Type:

    print("hello world")
    
You will notice that unlike a normal Python REPL, this will note print anything after hitting return again. To *execute* the cell, you need to hold down control and hit enter (``C-Enter``). This will run the code, print the results of the cell and put you back into edit mode.     

## Edit Mode

To enter *Edit Mode* you need to click on a cell or hit enter when it is surrounded by the blue outline. You will see that it goes green if you are in edit mode. In edit mode you have basic editing functionality. A few keys to know:

* Ctr-Enter - Run cell (execute Python code, render Markdown)
* ESC - Go back to command mode
* TAB - Tab completion
* Shift-TAB - Bring up tooltip (ESC to dismiss)


## Command Mode

*Command Mode* gives to the ability to create, copy, paste, move, and execute cells. A few keys to know:

* h - Bring up help (ESC to dismiss)
* b - Create cell below
* a - Create cell above
* c - Copy cell
* v - Paste cell below
* Enter - Go into Edit Mode
* m - Change cell type to Markdown
* y - Change cell type to code
* ii - Interrupt kernel
* 00 - Restart kernel

## Cell Types

* Code
* Markdown


## Markdown

Can make *italicized*, **bold**, and ``monospaced text``:

    Can make *italicized*, **bold**, and ``monospaced text``


Headers:

    # H1
    ## H2
    ### H3
 
Lists:

    * First item
    * Second item
    
Code:

    If you indent by four spaces you have code:
    
        def add(x, y):
            return x + yt
    
## Cell Magic

type and run ``%lsmagic`` in a cell.

Common magics include:

* ``%%time`` - time how long it takes to run cell
* ``%matplotlib inline`` - show matplotlib plots


## IPython Help
Add ? after function, method, etc for documentation (can also run shift-tab 4 times in notebook). Add ?? after function, method, etc to see the source.

# Setup

In [1]:
import pandas as pd
import matplotlib
import numpy as np

pd.__version__, matplotlib.__version__, np.__version__

('1.0.3', '3.2.1', '1.18.4')

In [2]:
# test for unicode
'\N{SNAKE}'

'üêç'

In [3]:
import sys
sys.getdefaultencoding()

'utf-8'

In [4]:
sys.version

'3.6.9 (default, Apr 18 2020, 01:56:04) \n[GCC 8.4.0]'

# Pandas Intro

## Installation

Presumably, you have pandas installed if you ran the cell after **Setup** successfully. The Anaconda distribution is a common way to get the Python scientific stack up and running quickly on most platforms. Running ``pip install pandas`` works as well.

In [5]:
# pandas has two main datatypes: a Series and a DataFrame
# A Series is like a column from a spreadsheet

s = pd.Series([0, 4, 6, 7])

In [6]:
# A DataFrame is like a spreadsheet

df = pd.DataFrame({'name': ['Fred', 'Johh', 'Joe', 'Abe'], 'age': s})

In [ ]:
# We can do tab completion on objects that exist (shift tab brings up tooltip)
# ?? brings up source
df.

# Datasets

For this class we will look at some time series data. The class will look at Central Park weather. The assignments will deal with El Nino data.

## Central Park


https://pastebin.com/vaB6QQGp

## El Nino

https://archive.ics.uci.edu/ml/datasets/El+Nino

In [7]:
%matplotlib inline
# I typically start with imports like this including the matplotlib magic 
# for most notebooks
import pandas as pd
import numpy as np

# Getting Data
There are various ``pd.read_`` functions for ingesting data

In [11]:
# not necessary if you started jupyter from the project directory
%ls ../data/
# should have central-park-raw.csv

central-park-raw.csv*  tao-all2.dat.gz*  vehicles.csv.zip*

In [12]:
# if you execute this cell it will bring up a tooltip due to
# the ? at the end. You can also hit shift-tab 4 times
# if your cursor is after the v
# Hit escape to dismiss the tooltip
pd.read_csv?

In [13]:
# let's load the data and treat column 0 as a date
nyc = pd.read_csv('../data/central-park-raw.csv', parse_dates=[0])
# Jupyter will print the result of the last command
nyc

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,...,10.0,10.0,10.0,14.0,4.0,25.0,0.00,0.0,NaN,257.0
3283,2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,...,10.0,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0
3284,2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,...,10.0,10.0,10.0,15.0,5.0,25.0,0.00,0.0,NaN,308.0
3285,2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,...,10.0,10.0,10.0,10.0,4.0,17.0,0.00,2.0,NaN,5.0
3286,2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,...,10.0,10.0,10.0,14.0,6.0,21.0,0.00,2.0,NaN,275.0

In [14]:
# dataframes can get big, so only show the first bit
nyc.head()

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0

## Getting Data Assignment

For your assignment, you will look at El Nino data.

The [website](https://archive.ics.uci.edu/ml/datasets/El+Nino)  states:

    The data is stored in an ASCII files with one observation per line. Spaces separate fields and periods (.) denote missing values.

* Create a ``nino`` variable with the data from the ``data/tao-all2.dat.gz`` file (use ``pd.read_csv``)
* Use the ``names`` variable for the initial column names (taken from website). They are:

 * obs
 * year
 * month
 * day
 * date 
 * latitude
 * longitude
 * zon.winds
 * mer.winds
 * humidity
 * air temp.
 * s.s.temp.

* Replace empty values (``.``) with ``NaN``. 
* Pull the year, month, and date columns into a single variable using the ``parse_dates`` parameter (see the ``pd.read_csv`` docs for info on this).

FYI, zonal winds are along east/west axis. Meridonal winds are north/south.

In [30]:
names = '''obs
year
month
day
date
latitude
longitude
zon.winds
mer.winds
humidity
air temp.
s.s.temp.'''.split('\n')

nino = pd.read_csv('../data/tao-all2.dat.gz', sep=' ', names=names, na_values='.',
                  parse_dates=[[1,2,3]])
nino

,year_month_day,obs,date,latitude,longitude,zon.winds,mer.winds,humidity,air temp.,s.s.temp.
0,1980-03-07,1,800307,-0.02,-109.46,-6.8,0.7,NaN,26.14,26.24
1,1980-03-08,2,800308,-0.02,-109.46,-4.9,1.1,NaN,25.66,25.97
2,1980-03-09,3,800309,-0.02,-109.46,-4.5,2.2,NaN,25.69,25.28
3,1980-03-10,4,800310,-0.02,-109.46,-3.8,1.9,NaN,25.57,24.31
4,1980-03-11,5,800311,-0.02,-109.46,-4.2,1.5,NaN,25.30,23.19
...,...,...,...,...,...,...,...,...,...,...
178075,1998-06-11,178076,980611,8.96,-140.33,-5.1,-0.4,94.1,26.04,28.14
178076,1998-06-12,178077,980612,8.96,-140.32,-4.3,-3.3,93.2,25.80,27.87
178077,1998-06-13,178078,980613,8.95,-140.34,-6.1,-4.8,81.3,27.17,27.93
178078,1998-06-14,178079,980614,8.96,-140.33,-4.9,-2.3,76.2,27.36,28.03
178079,1998-06-15,178080,980615,8.95,-140.33,NaN,NaN,NaN,27.09,28.09

# Inspecting Data

In [16]:
# Interesting aside, the columns are actually an Index 
nyc.columns

Index(['EST', 'Max TemperatureF', 'Mean TemperatureF', 'Min TemperatureF',
       'Max Dew PointF', 'MeanDew PointF', 'Min DewpointF', 'Max Humidity',
       ' Mean Humidity', ' Min Humidity', ' Max Sea Level PressureIn',
       ' Mean Sea Level PressureIn', ' Min Sea Level PressureIn',
       ' Max VisibilityMiles', ' Mean VisibilityMiles', ' Min VisibilityMiles',
       ' Max Wind SpeedMPH', ' Mean Wind SpeedMPH', ' Max Gust SpeedMPH',
       'PrecipitationIn', ' CloudCover', ' Events', ' WindDirDegrees'],
      dtype='object')

In [17]:
# If is good to know if columns have a [correct] type, (object could mean string)
nyc.dtypes

EST                           datetime64[ns]
Max TemperatureF                     float64
Mean TemperatureF                    float64
Min TemperatureF                     float64
Max Dew PointF                       float64
MeanDew PointF                       float64
Min DewpointF                        float64
Max Humidity                         float64
 Mean Humidity                       float64
 Min Humidity                        float64
 Max Sea Level PressureIn            float64
 Mean Sea Level PressureIn           float64
 Min Sea Level PressureIn            float64
 Max VisibilityMiles                 float64
 Mean VisibilityMiles                float64
 Min VisibilityMiles                 float64
 Max Wind SpeedMPH                   float64
 Mean Wind SpeedMPH                  float64
 Max Gust SpeedMPH                   float64
PrecipitationIn                       object
 CloudCover                          float64
 Events                               object
 WindDirDegrees                      float64
dtype: object

In [18]:
# we can also see how much space is taken up
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3287 entries, 0 to 3286
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EST                         3287 non-null   datetime64[ns]
 1   Max TemperatureF            3285 non-null   float64
 2   Mean TemperatureF           3285 non-null   float64
 3   Min TemperatureF            3285 non-null   float64
 4   Max Dew PointF              3285 non-null   float64
 5   MeanDew PointF              3285 non-null   float64
 6   Min DewpointF               3285 non-null   float64
 7   Max Humidity                3285 non-null   float64
 8    Mean Humidity              3285 non-null   float64
 9    Min Humidity               3285 non-null   float64
 10   Max Sea Level PressureIn   3275 non-null   float64
 11   Mean Sea Level PressureIn  3275 non-null   float64
 12   Min Sea Level PressureIn   3275 non-null   float64
 13   Max VisibilityMiles        3277 non-null   float64
 14   Mean VisibilityMiles       3277 non-null   float64
 15   Min VisibilityMiles        3277 non-null   float64
 16   Max Wind SpeedMPH          3245 non-null   float64
 17   Mean Wind SpeedMPH         3244 non-null   float64
 18   Max Gust SpeedMPH          3177 non-null   float64
 19  PrecipitationIn             3286 non-null   object
 20   CloudCover                 3277 non-null   float64
 21   Events                     1174 non-null   object
 22   WindDirDegrees             3285 non-null   float64
dtypes: datetime64[ns](1), float64(20), object(2)
memory usage: 590.8+ KB

In [19]:
# just view the first 10 rows
nyc.head(10)

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
5,2006-01-06,43.0,37.0,30.0,33.0,24.0,14.0,73.0,60.0,47.0,...,10.0,10.0,10.0,17.0,6.0,25.0,0.00,7.0,NaN,317.0
6,2006-01-07,35.0,30.0,25.0,19.0,14.0,11.0,60.0,51.0,41.0,...,10.0,10.0,10.0,15.0,7.0,23.0,0.00,2.0,NaN,267.0
7,2006-01-08,46.0,40.0,34.0,35.0,25.0,19.0,70.0,56.0,41.0,...,10.0,10.0,10.0,13.0,5.0,17.0,0.00,3.0,NaN,192.0
8,2006-01-09,60.0,52.0,43.0,39.0,36.0,30.0,76.0,60.0,44.0,...,10.0,10.0,10.0,15.0,8.0,24.0,0.00,1.0,NaN,249.0
9,2006-01-10,49.0,45.0,41.0,31.0,28.0,26.0,62.0,52.0,42.0,...,10.0,10.0,10.0,10.0,6.0,16.0,0.00,1.0,NaN,261.0

In [21]:
# a better option might be sampling
nyc.sample(10)

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2196,2012-01-06,53.0,44.0,35.0,30.0,27.0,22.0,64.0,51.0,38.0,...,10.0,10.0,8.0,14.0,7.0,22.0,0.00,1.0,NaN,226.0
31,2006-02-01,41.0,39.0,36.0,27.0,23.0,21.0,64.0,55.0,45.0,...,10.0,10.0,10.0,18.0,8.0,26.0,0.00,6.0,NaN,283.0
1035,2008-11-01,66.0,58.0,50.0,42.0,36.0,28.0,59.0,49.0,38.0,...,10.0,10.0,10.0,9.0,5.0,16.0,0.00,1.0,NaN,259.0
2172,2011-12-13,47.0,40.0,32.0,29.0,21.0,17.0,60.0,46.0,31.0,...,10.0,10.0,9.0,13.0,4.0,17.0,0.00,0.0,NaN,288.0
2367,2012-06-25,74.0,68.0,62.0,69.0,63.0,51.0,93.0,79.0,64.0,...,10.0,7.0,2.0,10.0,4.0,23.0,0.15,5.0,Rain,104.0
1108,2009-01-13,41.0,35.0,28.0,30.0,25.0,15.0,70.0,62.0,53.0,...,10.0,10.0,10.0,15.0,5.0,21.0,0.00,2.0,NaN,193.0
904,2008-06-23,79.0,74.0,69.0,72.0,67.0,62.0,90.0,76.0,62.0,...,9.0,4.0,1.0,10.0,3.0,15.0,0.06,4.0,Rain,160.0
278,2006-10-06,57.0,55.0,52.0,45.0,41.0,37.0,71.0,59.0,47.0,...,10.0,10.0,10.0,18.0,9.0,30.0,T,7.0,NaN,48.0
1558,2010-04-08,80.0,72.0,64.0,56.0,53.0,48.0,73.0,55.0,36.0,...,10.0,10.0,9.0,15.0,6.0,24.0,0.00,0.0,NaN,125.0
2479,2012-10-15,71.0,65.0,59.0,63.0,59.0,55.0,93.0,80.0,66.0,...,10.0,8.0,2.0,13.0,5.0,22.0,0.20,5.0,Rain,250.0

In [22]:
# Transposing the data often makes it easier to view
nyc.T  # nyc.transpose()

,0,1,2,3,4,5,6,7,8,9,...,3277,3278,3279,3280,3281,3282,3283,3284,3285,3286
EST,2006-01-01 00:00:00,2006-01-02 00:00:00,2006-01-03 00:00:00,2006-01-04 00:00:00,2006-01-05 00:00:00,2006-01-06 00:00:00,2006-01-07 00:00:00,2006-01-08 00:00:00,2006-01-09 00:00:00,2006-01-10 00:00:00,...,2014-12-22 00:00:00,2014-12-23 00:00:00,2014-12-24 00:00:00,2014-12-25 00:00:00,2014-12-26 00:00:00,2014-12-27 00:00:00,2014-12-28 00:00:00,2014-12-29 00:00:00,2014-12-30 00:00:00,2014-12-31 00:00:00
Max TemperatureF,42,48,40,38,50,43,35,46,60,49,...,44,46,58,62,50,55,54,44,34,32
Mean TemperatureF,37,44,37,34,44,37,30,40,52,45,...,40,45,51,53,45,50,49,39,31,30
Min TemperatureF,32,39,33,29,37,30,25,34,43,41,...,35,43,44,44,40,44,43,34,28,27
Max Dew PointF,32,38,38,36,38,33,19,35,39,31,...,42,44,57,60,29,35,43,25,17,12
MeanDew PointF,30,34,33,26,35,24,14,25,36,28,...,35,42,47,40,28,31,37,19,13,8
Min DewpointF,28,29,26,19,32,14,11,19,30,26,...,29,41,43,27,27,29,26,15,8,5
Max Humidity,85,92,92,85,92,73,60,70,76,62,...,89,96,100,100,64,53,92,53,58,55
Mean Humidity,74,71,84,72,71,60,51,56,60,52,...,82,91,96,69,53,47,73,42,47,43
Min Humidity,62,49,75,59,50,47,41,41,44,42,...,75,86,92,38,42,41,53,31,36,30
Max Sea Level PressureIn,30.2,30.24,30.05,30.09,29.81,29.82,29.99,30.1,30.25,30.5,...,30.35,30.18,30.08,30.12,30.25,30.27,30.07,30.26,30.4,30.35
Mean Sea Level PressureIn,30.03,30.15,29.93,29.96,29.71,29.72,29.93,30.04,30.01,30.42,...,30.27,30.12,29.79,29.74,30.2,30.19,29.95,30.18,30.36,30.28
Min Sea Level PressureIn,29.83,29.93,29.83,29.79,29.63,29.67,29.84,29.95,29.92,30.28,...,30.16,30.07,29.53,29.48,30.13,30.07,29.88,30.09,30.27,30.18
Max VisibilityMiles,10,10,10,10,10,10,10,10,10,10,...,10,9,7,10,10,10,10,10,10,10
Mean VisibilityMiles,10,8,7,10,6,10,10,10,10,10,...,8,3,3,8,10,10,9,10,10,10
Min VisibilityMiles,8,4,2,4,2,10,10,10,10,10,...,5,2,1,2,10,10,2,10,10,10
Max Wind SpeedMPH,9,18,28,15,15,17,15,13,15,10,...,12,17,12,20,13,14,15,15,10,14
Mean Wind SpeedMPH,3,5,15,7,5,6,7,5,8,6,...,6,8,6,10,6,4,6,5,4,6
Max Gust SpeedMPH,10,24,41,20,21,25,23,17,24,16,...,16,26,17,32,18,25,22,25,17,21
PrecipitationIn,0.00,0.63,1.13,0.00,0.05,0.00,0.00,0.00,0.00,0.00,...,0.04,0.16,0.80,0.09,0.00,0.00,0.10,0.00,0.00,0.00
CloudCover,8,5,8,3,6,7,2,3,1,1,...,8,8,8,5,0,0,5,0,2,2
Events,NaN,Rain,Rain,NaN,Rain,NaN,NaN,NaN,NaN,NaN,...,Rain,Rain,Rain,Rain,NaN,NaN,Rain,NaN,NaN,NaN
WindDirDegrees,276,76,39,70,251,317,267,192,249,261,...,59,67,86,279,272,257,264,308,5,275

In [23]:
# Here is the size (num rows, num cols)
nyc.shape

(3287, 23)

In [24]:
# We can inspect the index
nyc.index

RangeIndex(start=0, stop=3287, step=1)

In [25]:
# We can use the .set_index method to use another column as the index
nyc.set_index('EST')

,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,Max Sea Level PressureIn,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,,,,,,,,,,,,
2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,30.20,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,30.24,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,30.05,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,30.09,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,29.81,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,30.27,...,10.0,10.0,10.0,14.0,4.0,25.0,0.00,0.0,NaN,257.0
2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,30.07,...,10.0,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0
2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,30.26,...,10.0,10.0,10.0,15.0,5.0,25.0,0.00,0.0,NaN,308.0
2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,30.40,...,10.0,10.0,10.0,10.0,4.0,17.0,0.00,2.0,NaN,5.0
2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,30.35,...,10.0,10.0,10.0,14.0,6.0,21.0,0.00,2.0,NaN,275.0

In [26]:
# undo .set_index with .reset_index
nyc.set_index('EST').reset_index()

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,...,10.0,10.0,10.0,14.0,4.0,25.0,0.00,0.0,NaN,257.0
3283,2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,...,10.0,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0
3284,2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,...,10.0,10.0,10.0,15.0,5.0,25.0,0.00,0.0,NaN,308.0
3285,2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,...,10.0,10.0,10.0,10.0,4.0,17.0,0.00,2.0,NaN,5.0
3286,2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,...,10.0,10.0,10.0,14.0,6.0,21.0,0.00,2.0,NaN,275.0

In [27]:
# I would prefer to write the last one like
(nyc
 .set_index('EST')
 .reset_index()
)

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,...,10.0,10.0,10.0,14.0,4.0,25.0,0.00,0.0,NaN,257.0
3283,2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,...,10.0,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0
3284,2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,...,10.0,10.0,10.0,15.0,5.0,25.0,0.00,0.0,NaN,308.0
3285,2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,...,10.0,10.0,10.0,10.0,4.0,17.0,0.00,2.0,NaN,5.0
3286,2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,...,10.0,10.0,10.0,14.0,6.0,21.0,0.00,2.0,NaN,275.0

## Inspecting Data Assignment

Now it is your turn to inspect the El Nino data.
 
* What are the columns of the dataframe?
* What are the types of the columns?
* How would you print the first 10 rows of data?
* How would you transpose the data?
* What is the shape of the data?
* How would we inspect the index?

In [31]:
nino.columns

Index(['year_month_day', 'obs', 'date', 'latitude', 'longitude', 'zon.winds',
       'mer.winds', 'humidity', 'air temp.', 's.s.temp.'],
      dtype='object')

In [36]:
nino.dtypes

year_month_day    datetime64[ns]
obs                        int64
date                       int64
latitude                 float64
longitude                float64
zon.winds                float64
mer.winds                float64
humidity                 float64
air temp.                float64
s.s.temp.                float64
dtype: object

In [35]:
nino.head(10)

,year_month_day,obs,date,latitude,longitude,zon.winds,mer.winds,humidity,air temp.,s.s.temp.
0,1980-03-07,1,800307,-0.02,-109.46,-6.8,0.7,NaN,26.14,26.24
1,1980-03-08,2,800308,-0.02,-109.46,-4.9,1.1,NaN,25.66,25.97
2,1980-03-09,3,800309,-0.02,-109.46,-4.5,2.2,NaN,25.69,25.28
3,1980-03-10,4,800310,-0.02,-109.46,-3.8,1.9,NaN,25.57,24.31
4,1980-03-11,5,800311,-0.02,-109.46,-4.2,1.5,NaN,25.30,23.19
5,1980-03-12,6,800312,-0.02,-109.46,-4.4,0.3,NaN,24.72,23.64
6,1980-03-13,7,800313,-0.02,-109.46,-3.2,0.1,NaN,24.66,24.34
7,1980-03-14,8,800314,-0.02,-109.46,-3.1,0.6,NaN,25.17,24.14
8,1980-03-15,9,800315,-0.02,-109.46,-3.0,1.0,NaN,25.59,24.24
9,1980-03-16,10,800316,-0.02,-109.46,-1.2,1.0,NaN,26.71,25.94

In [34]:
nino.head().T

,0,1,2,3,4
year_month_day,1980-03-07 00:00:00,1980-03-08 00:00:00,1980-03-09 00:00:00,1980-03-10 00:00:00,1980-03-11 00:00:00
obs,1,2,3,4,5
date,800307,800308,800309,800310,800311
latitude,-0.02,-0.02,-0.02,-0.02,-0.02
longitude,-109.46,-109.46,-109.46,-109.46,-109.46
zon.winds,-6.8,-4.9,-4.5,-3.8,-4.2
mer.winds,0.7,1.1,2.2,1.9,1.5
humidity,NaN,NaN,NaN,NaN,NaN
air temp.,26.14,25.66,25.69,25.57,25.3
s.s.temp.,26.24,25.97,25.28,24.31,23.19

In [33]:
nino.shape

(178080, 10)

In [32]:
nino.index

RangeIndex(start=0, stop=178080, step=1)

# Tweak Data

  *In Data Science, 80% of time spent prepare data, 20% of time spent complain about need for  prepare data.*
  
  -@bigdataborat
  
Let's see how we spend 80% of our time.

In [37]:
# I like to start by inspecting the columns. Pandas will try to 
# infer types from CSV files, but doesn't always do the right thing.
# Sometimes the data is just messy.
nyc.dtypes

EST                           datetime64[ns]
Max TemperatureF                     float64
Mean TemperatureF                    float64
Min TemperatureF                     float64
Max Dew PointF                       float64
MeanDew PointF                       float64
Min DewpointF                        float64
Max Humidity                         float64
 Mean Humidity                       float64
 Min Humidity                        float64
 Max Sea Level PressureIn            float64
 Mean Sea Level PressureIn           float64
 Min Sea Level PressureIn            float64
 Max VisibilityMiles                 float64
 Mean VisibilityMiles                float64
 Min VisibilityMiles                 float64
 Max Wind SpeedMPH                   float64
 Mean Wind SpeedMPH                  float64
 Max Gust SpeedMPH                   float64
PrecipitationIn                       object
 CloudCover                          float64
 Events                               object
 WindDirDegrees                      float64
dtype: object

In [39]:
# See those spaces in front of some of the Columns?
# Remove spaces from front/end of column names
# Use underscores to enable attribute access/jupyter completion
# We are going to use methods that return dataframes
def fix_col(colname):
    return colname.strip().replace(' ', '_')
nyc.rename(columns=fix_col)

,EST,Max_TemperatureF,Mean_TemperatureF,Min_TemperatureF,Max_Dew_PointF,MeanDew_PointF,Min_DewpointF,Max_Humidity,Mean_Humidity,Min_Humidity,...,Max_VisibilityMiles,Mean_VisibilityMiles,Min_VisibilityMiles,Max_Wind_SpeedMPH,Mean_Wind_SpeedMPH,Max_Gust_SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,...,10.0,10.0,10.0,14.0,4.0,25.0,0.00,0.0,NaN,257.0
3283,2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,...,10.0,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0
3284,2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,...,10.0,10.0,10.0,15.0,5.0,25.0,0.00,0.0,NaN,308.0
3285,2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,...,10.0,10.0,10.0,10.0,4.0,17.0,0.00,2.0,NaN,5.0
3286,2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,...,10.0,10.0,10.0,14.0,6.0,21.0,0.00,2.0,NaN,275.0

In [40]:
# For non-numeric columns, .value_counts gives us 
# counts of the data. One would think that 
# PrecipitationIn should be numeric....
nyc.PrecipitationIn.value_counts()

0.00    1952
T        201
0.01     112
0.02      59
0.03      58
        ...
0.83       1
1.40       1
1.34       1
0.76       1
3.99       1
Name: PrecipitationIn, Length: 196, dtype: int64

In [41]:
# There is a "T" in there. Trace? 
# Convert "T" to 0.001
nyc.PrecipitationIn.replace("T", '0.001')

0       0.00
1       0.63
2       1.13
3       0.00
4       0.05
        ...
3282    0.00
3283    0.10
3284    0.00
3285    0.00
3286    0.00
Name: PrecipitationIn, Length: 3287, dtype: object

In [42]:
# Convert to numeric data
nyc.assign(PrecipitationIn = pd.to_numeric(nyc.PrecipitationIn.replace("T", '0.001')))

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,...,10.0,10.0,10.0,14.0,4.0,25.0,0.00,0.0,NaN,257.0
3283,2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,...,10.0,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0
3284,2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,...,10.0,10.0,10.0,15.0,5.0,25.0,0.00,0.0,NaN,308.0
3285,2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,...,10.0,10.0,10.0,10.0,4.0,17.0,0.00,2.0,NaN,5.0
3286,2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,...,10.0,10.0,10.0,14.0,6.0,21.0,0.00,2.0,NaN,275.0

In [44]:
nyc[' Events'].value_counts()

Rain             803
Fog-Rain         189
Snow              74
Fog-Snow          39
Rain-Snow         31
Fog-Rain-Snow     22
Fog               15
Thunderstorm       1
Name:  Events, dtype: int64

In [45]:
# can perform string operations on string columns off of the "str" attribute
nyc[' Events'].str.upper()

0        NaN
1       RAIN
2       RAIN
3        NaN
4       RAIN
        ...
3282     NaN
3283    RAIN
3284     NaN
3285     NaN
3286     NaN
Name:  Events, Length: 3287, dtype: object

In [46]:
# Looks like the type of this column is mixed
type(nyc[' Events'][0])

float

In [47]:
set(nyc[' Events'].apply(type))

{float, str}

In [49]:
# Replace nan with ''
nyc.assign(**{' Events': nyc[' Events'].fillna('')})

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,...,10.0,10.0,10.0,14.0,4.0,25.0,0.00,0.0,,257.0
3283,2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,...,10.0,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0
3284,2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,...,10.0,10.0,10.0,15.0,5.0,25.0,0.00,0.0,,308.0
3285,2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,...,10.0,10.0,10.0,10.0,4.0,17.0,0.00,2.0,,5.0
3286,2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,...,10.0,10.0,10.0,14.0,6.0,21.0,0.00,2.0,,275.0

In [50]:
# Replace nan with ''
(nyc
 .assign(**{' Events': nyc[' Events'].fillna('')})
 .dtypes)

EST                           datetime64[ns]
Max TemperatureF                     float64
Mean TemperatureF                    float64
Min TemperatureF                     float64
Max Dew PointF                       float64
MeanDew PointF                       float64
Min DewpointF                        float64
Max Humidity                         float64
 Mean Humidity                       float64
 Min Humidity                        float64
 Max Sea Level PressureIn            float64
 Mean Sea Level PressureIn           float64
 Min Sea Level PressureIn            float64
 Max VisibilityMiles                 float64
 Mean VisibilityMiles                float64
 Min VisibilityMiles                 float64
 Max Wind SpeedMPH                   float64
 Mean Wind SpeedMPH                  float64
 Max Gust SpeedMPH                   float64
PrecipitationIn                       object
 CloudCover                          float64
 Events                               object
 WindDirDegrees                      float64
dtype: object

In [ ]:
# convert inches to cm
# If we multiply a column (Series), we are *broadcasting*
# the operation to every cell
nyc.PrecipitationIn * 2.54

In [ ]:
# can also apply an arbitrary function, though this will be slow as it is not vectorized
#   map - works with a dictionary (mapping value to new value),  series (like dict), function
#   apply - only works with function as a parameter. Allows extra parameters
#   aggregate (agg) - works with function or list of functions. If reducing function, returns a scalar.
#   transform - wraps agg and won't do a reduction
def to_cm(val):
    return val * 2.54

nyc.PrecipitationIn.transform(to_cm)

In [ ]:
%%timeit
nyc.PrecipitationIn.map(to_cm)

In [ ]:
%%timeit
nyc.PrecipitationIn.transform(to_cm)

In [ ]:
%%timeit
nyc.PrecipitationIn*2.54

In [52]:
# can add and drop columns (axis=1 means along the columns axis)
# Note that we can access some columns with attribute access
# We can only set w/ attribute access on an existing column!
(nyc
 .assign(State='NYC')
 .drop(['State'], axis=1)
)

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,...,10.0,10.0,10.0,14.0,4.0,25.0,0.00,0.0,NaN,257.0
3283,2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,...,10.0,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0
3284,2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,...,10.0,10.0,10.0,15.0,5.0,25.0,0.00,0.0,NaN,308.0
3285,2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,...,10.0,10.0,10.0,10.0,4.0,17.0,0.00,2.0,NaN,5.0
3286,2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,...,10.0,10.0,10.0,14.0,6.0,21.0,0.00,2.0,NaN,275.0

In [59]:
# Prefer to write .drop like this
(nyc
 .assign(State='NYC')
 .drop(columns=['State'])
 
)

,EST,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityMiles,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,10.0,8.0,9.0,3.0,10.0,0.00,8.0,NaN,276.0
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,10.0,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,10.0,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,10.0,4.0,15.0,7.0,20.0,0.00,3.0,NaN,70.0
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,10.0,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,...,10.0,10.0,10.0,14.0,4.0,25.0,0.00,0.0,NaN,257.0
3283,2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,...,10.0,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0
3284,2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,...,10.0,10.0,10.0,15.0,5.0,25.0,0.00,0.0,NaN,308.0
3285,2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,...,10.0,10.0,10.0,10.0,4.0,17.0,0.00,2.0,NaN,5.0
3286,2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,...,10.0,10.0,10.0,14.0,6.0,21.0,0.00,2.0,NaN,275.0

In [ ]:
# can use pd.to_datetime to convert a column to a datetime
date_str = nyc.EST.astype(str)
pd.to_datetime(date_str)

In [65]:
# put it all in a function
def fix_col(colname):
    return colname.strip().replace(' ', '_')

def tweak_nyc(df_):
    return (df_
            .rename(columns=fix_col)
            .assign(PrecipitationIn = pd.to_numeric(df_.PrecipitationIn.replace("T", '0.001')),
                    Events=lambda df2: df2['Events'].fillna(''),
                    PrecipitationCm=lambda df2:df2.PrecipitationIn * 2.54)
           )

nyc2 = tweak_nyc(nyc)
nyc2

,EST,Max_TemperatureF,Mean_TemperatureF,Min_TemperatureF,Max_Dew_PointF,MeanDew_PointF,Min_DewpointF,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_VisibilityMiles,Min_VisibilityMiles,Max_Wind_SpeedMPH,Mean_Wind_SpeedMPH,Max_Gust_SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,PrecipitationCm
0,2006-01-01,42.0,37.0,32.0,32.0,30.0,28.0,85.0,74.0,62.0,...,10.0,8.0,9.0,3.0,10.0,0.00,8.0,,276.0,0.0000
1,2006-01-02,48.0,44.0,39.0,38.0,34.0,29.0,92.0,71.0,49.0,...,8.0,4.0,18.0,5.0,24.0,0.63,5.0,Rain,76.0,1.6002
2,2006-01-03,40.0,37.0,33.0,38.0,33.0,26.0,92.0,84.0,75.0,...,7.0,2.0,28.0,15.0,41.0,1.13,8.0,Rain,39.0,2.8702
3,2006-01-04,38.0,34.0,29.0,36.0,26.0,19.0,85.0,72.0,59.0,...,10.0,4.0,15.0,7.0,20.0,0.00,3.0,,70.0,0.0000
4,2006-01-05,50.0,44.0,37.0,38.0,35.0,32.0,92.0,71.0,50.0,...,6.0,2.0,15.0,5.0,21.0,0.05,6.0,Rain,251.0,0.1270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2014-12-27,55.0,50.0,44.0,35.0,31.0,29.0,53.0,47.0,41.0,...,10.0,10.0,14.0,4.0,25.0,0.00,0.0,,257.0,0.0000
3283,2014-12-28,54.0,49.0,43.0,43.0,37.0,26.0,92.0,73.0,53.0,...,9.0,2.0,15.0,6.0,22.0,0.10,5.0,Rain,264.0,0.2540
3284,2014-12-29,44.0,39.0,34.0,25.0,19.0,15.0,53.0,42.0,31.0,...,10.0,10.0,15.0,5.0,25.0,0.00,0.0,,308.0,0.0000
3285,2014-12-30,34.0,31.0,28.0,17.0,13.0,8.0,58.0,47.0,36.0,...,10.0,10.0,10.0,4.0,17.0,0.00,2.0,,5.0,0.0000
3286,2014-12-31,32.0,30.0,27.0,12.0,8.0,5.0,55.0,43.0,30.0,...,10.0,10.0,14.0,6.0,21.0,0.00,2.0,,275.0,0.0000

## Tweak Data Assignment
With the nino dataset make a `tweak_nino` dataset that:
* Replace the periods and spaces in the column names with underscores
* The temperatures are stored as Celsius. Create a new column, ``air_temp_F``, using Fahrenheit
  (Tf = Tc*9/5 + 32)
* The wind speed is in meters per second. Create new columns,  adding ``_mph``, that uses miles per hour ( 1 MPS = 2.237 MPH )
* Convert the ``date`` column to a date type.
* Drop the obs column

In [77]:
def fix_nino_col(name):
    return name.rstrip('.').replace('.', '_').replace(' ', '_')
def tweak_nino(df_):
    return (df_
           .rename(columns=fix_nino_col)
           .assign(air_temp_F=lambda df2:df2.air_temp*9/5+32,
                   zon_winds_mph=lambda df2:df2.zon_winds / 2.237,
                   mer_winds_mph=lambda df2:df2.mer_winds / 2.237,
                   date=pd.to_datetime(df_.date, format='%y%m%d')
                  )
            .drop(columns='obs')
           )

tweak_nino(nino)

,year_month_day,date,latitude,longitude,zon_winds,mer_winds,humidity,air_temp,s_s_temp,air_temp_F,zon_winds_mph,mer_winds_mph
0,1980-03-07,1980-03-07,-0.02,-109.46,-6.8,0.7,NaN,26.14,26.24,79.052,-3.039785,0.312919
1,1980-03-08,1980-03-08,-0.02,-109.46,-4.9,1.1,NaN,25.66,25.97,78.188,-2.190434,0.491730
2,1980-03-09,1980-03-09,-0.02,-109.46,-4.5,2.2,NaN,25.69,25.28,78.242,-2.011623,0.983460
3,1980-03-10,1980-03-10,-0.02,-109.46,-3.8,1.9,NaN,25.57,24.31,78.026,-1.698704,0.849352
4,1980-03-11,1980-03-11,-0.02,-109.46,-4.2,1.5,NaN,25.30,23.19,77.540,-1.877515,0.670541
...,...,...,...,...,...,...,...,...,...,...,...,...
178075,1998-06-11,1998-06-11,8.96,-140.33,-5.1,-0.4,94.1,26.04,28.14,78.872,-2.279839,-0.178811
178076,1998-06-12,1998-06-12,8.96,-140.32,-4.3,-3.3,93.2,25.80,27.87,78.440,-1.922217,-1.475190
178077,1998-06-13,1998-06-13,8.95,-140.34,-6.1,-4.8,81.3,27.17,27.93,80.906,-2.726866,-2.145731
178078,1998-06-14,1998-06-14,8.96,-140.33,-4.9,-2.3,76.2,27.36,28.03,81.248,-2.190434,-1.028163
178079,1998-06-15,1998-06-15,8.95,-140.33,NaN,NaN,NaN,27.09,28.09,80.762,NaN,NaN